<!--including html boilerplate (header)-->
<%- include("partials/header") %> 


        <h1>Hi! This is the Jokes Webpage !!</h1>



        

        <button><a href="/dark">Dark</a></button>
        <button><a href="/any">Miscellaneous</a></button>
        <button><a href="/programming">Programming</a></button>
        <button class="ui button inverted blue"><a href="/pun">Pun</a></button>
        
<!--including html boilerplate (footer)-->
<%- include("partials/footer") %> 