<!--Including html boilerplate-->
<%- include("partials/header.ejs") %> 


<div class="ui container">

    <h1>Enter student details here..</h1>

    <form action="/register" method="POST" class="ui form">
        <label><h3>Name</h3></label>
        <div class="two fields" id="section">
            <div class="field">
                <input  id="inputs"type="text" name="student[first]" placeholder="First Name">
            </div>
            <div class="field">
                <input id="inputs" type="text" name="student[last]" placeholder="Last Name">
            </div>
        </div>
        <label><h3>Marks Obtained (0 - 100)</h3></label>
        <div class="two fields" id="section">
            <div class="field">
                <input id="inputs" type="number" max="100" min="0" placeholder="English" name="student[english]">
            </div>
            <div class="field">
                <input id="inputs" type="number" max="100" min="0" placeholder="Math" name="student[math]">
            </div>
        </div>
        <button class="ui button green" type="submit">Submit</button>
    </form>
</div>


<!--includeing html boilerplate-->
<%- include("partials/footer.ejs") %> 